.homeBody
{
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas
{
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
}

.consoledDefault
{
    color: gray;
}

.consoleLog
{
    color: white;
}

.consoleInformation
{
    color: cyan;
}

.consoleWarn
{
    color: rgb(226, 255, 97);
}

.consoleError
{
    color: red;
}

.serverInformationConsole
{
    border-radius: 5px;
    width: 90%;
}

.sectionTitle
{
    padding-bottom: 5px;
}

.serverInformationConsole .console
{
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 200px;
    border-radius: 5px;
    padding-top: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

.consoleContent
{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.panelRowContainer
{
    width: 90%;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.basicServerInformationPanel
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 600px;
    width: 70%;
}

.serverOnlineStatus
{
    padding: 10px;
    border-radius: 5px;
    width: 25%;
    height: 40%;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serverName
{
    padding-top: 30px;
    font-size: 21px;
}

.serverMOTD
{
    text-align: center;
}

hr
{
    width: 100%;
    margin: 10px;
}